{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Кафедра теоретической и прикладной лингвистики</title>
	    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	    <style type="text/css">
		    html,
			body {
			    height: 100%;
				/* The html and body elements cannot have any padding or margin. */
			}

			/* Wrapper for page content to push down footer */
		    #wrap {
				min-height: 100%;
			    height: auto !important;
			    height: 100%;
			    /* Negative indent footer by its height */
			    margin: 0 auto -60px;
			    /* Pad bottom by footer height */
			    padding: 0 0 60px;
			}
	    </style>
	</head>
	<body style="background-color: LightCyan;">
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
		<div id="wrap">
			<div class="row" style="background: url('{% static "images/letters2.jpg" %}') no-repeat right bottom; background-size: contain; background-color: white; margin: 0px">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	  				<img src="{% static "images/logo.jpg" %}" class="img-responsive" style="padding: 5px; width: 80%;" alt="Responsive image">
				</div>
			    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="background-color: White;">
				    <h5>Московский государственный университет</h5>
			        <h3>Филологический факультет</h3>
			        <h2>КАФЕДРА ТЕОРЕТИЧЕСКОЙ И ПРИКЛАДНОЙ ЛИНГВИСТИКИ</h2>
			    </div>
			    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding: 10px 0px; text-align:center">
					<form role="form">
					    <div class="form-group" style="margin: 5px 0px">
					      <input type="email" class="form-control input-sm" placeholder="E-mail">
					    </div>
					    <div class="form-group" style="margin: 5px 0px">
						    <input type="password" class="form-control input-sm"  placeholder="Пароль">
					    </div>
					    <button type="submit" class="btn btn-default btn-sm" >
					    	<span class="glyphicon glyphicon-log-in"></span>
					    </button>
					</form>
			    </div>
			    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
					<img src="{% static "images/flag_rus.png" %}" style="width: 20px; margin: 15px 2px">
				    <img src="{% static "images/uk_flag.png" %}" style="width: 20px; margin: 15px 2px">
			    </div>
			</div>
	        <nav class="navbar navbar-default" role="navigation" style="background-color: #ADD8E6; border-color: #000000;">
	            <div class="collapse navbar-collapse text-center">
	                <ul class="nav navbar-nav">
                    {% for sec in sections %}
	                    <li class="dropdown {% if page and page.subsection.section == sec %} active {% endif %}">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ sec.name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
	                        {% for subsec in sec.page_set.all %}
	                            <li><a href="/{{subsec.slug}}">{{ subsec.name }}</a></li>
	                        {% endfor %}
		                    </ul>
	                    </li>
	                {% endfor %}
	                {% for sec in free_sec %}
	                    <li class="{% if page and page == sec %} active {% endif %}"><a href="/{{sec.slug}}">{{sec.name}}</a></li>
	                {% endfor %}                       
		            </ul>
	                <form class="navbar-form navbar-right" role="search" style="padding: 0px">
					    <div class="form-group"	>
						    <input type="text" class="form-control" placeholder="Поиск">
						</div>
					        <button class="btn btn-default" type="button">
					        	<span class="glyphicon glyphicon-search"></span>
					        </button>

						
				    </form>
	            </div>         
	        </nav>
	        <div class="container">
	        	<div class="row" >
	        	    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		        		<div class="well" style="min-height:400px; border-color: Black; background: url('{% static "images/omega.jpg" %}') no-repeat right bottom; background-size: 100%; background-color: #CBCDC9; padding: 10px">
					        <ul class="nav nav-pills nav-stacked">
		                    {% for p in left_bar %}
			                    <li class="{% if page and page == p %} active {% endif %}">
			                        <a href="/{{p.slug}}">{{ p.name }}</a>
			                    </li>
			                {% endfor %}
					        </ul>

		        		</div>
	        		</div>
	        		<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
	        		    <div class="well" style="min-height:400px; background-color: Moccasin; border-color: Black;" >
	        		    	{{page.content|safe}}
    		    	        <div class='row' style="  vertical-align: bottom;">
				                <div class="col-md-12">
				                {% if files %}
					                <h6> Прикрепленные файлы</h6>
					                {% for f in files %}
					                <a href="{{ f.url|safe }}" class="btn btn-default">
					                	<span class="glyphicon glyphicon-save"></span> {{f.name}}
				                	</a>
					                {% endfor%}
					            {% endif %}
					            </div>
				            </div>
	        		    </div>
	        		</div>
	        		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	        			{% if get_pass_button %}
	        			<div style="text-align:center;">
		        		    <a href="/{{ get_pass_button.slug }}" role="button" class="btn btn-info btn-large" style="margin: 0px 0px 20px 0px;">
		        		    Как получить пропуск
		        		    </a>
		        		</div>
		        		{% endif %}
	        		    <div class="well" style="background-color: SkyBlue; min-height:346px; border-color: Black">
		        		    <div style="text-align:center;">
		        		    	<h2 class="pull-center" style="margin: 0px 0px 20px 0px;">Новости</h2>
		        		    	
		        		    </div>
		        		    {{news|safe}}
	        		    </div>
	        		</div>
	        	</div>
	        </div>
		</div>
        <div id="footer">
		    <!-- <div class="container"> -->
			    <div class="row" style="padding: 0px; margin: 0px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-muted" style="padding: 0px; margin: 0px">
						<div class="well" style="margin: 0px; padding: 5px">
							<small>
							    <div class="row" style="padding: 0px; margin: 0px">
									<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-muted" style="padding: 0px; margin: 0px">								
								        119991, Москва, Ленинские горы, ГСП-1,
										МГУ имени М. В. Ломоносова,<br>
										1-й корпус гуманитарных факультетов (1-й ГУМ),
										филологический факультет
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-muted" style="padding: 0px; margin: 0px">
										Тел.: +7 (495) 939-32-77,<br>
										E-mail: dekan@philol.msu.ru
									</div>
							</small>
						</div>
					</div>
			    </div>
		    <!-- </div> -->
	    </div>

	</body>
</html>